<template>
  <Nav />
  <div class="container-fluid">
    <div class="column">
      <Menu />
    </div>
    <div class="col ms-sm-auto col-lg-10 px-md-5">
      <p></p>
      <div class="row">
        <button
          id="connect"
          @click="connectPlatform(this)"
          type="button"
          class="btn btn-danger center"
        >
          Connect Platform
        </button>
      </div>
      <p></p>
      <div class="container" id="controls" style="display: block">
        <div class="row">
          <div class="col-6 border bg-light">
            <p></p>
            <Controls />
          </div>
          <div class="col-6">
            <div class="p-3 border bg-light">
              <GetInfo />
            </div>
          </div>
        </div>
        <p></p>
        <div class="row">
          <div class="col-6 border bg-light">
            <Camera />
          </div>
          <div class="col-6">
            <div class="p-3 border bg-light">
              <LEDs />
            </div>
          </div>
        </div>
        <p></p>
        <div class="mx-auto border bg-light" style="width: 1100px">
          <Map />
          <!-- <p></p> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from "@/components/Nav.vue";
import Menu from "@/components/Menu.vue";
import { io } from "socket.io-client";

import GetInfo from "@/components/GetInfo.vue";
import Camera from "@/components/Camera.vue";
import LEDs from "@/components/LEDs.vue";
import Controls from "@/components/Controls.vue";
import Map from "@/components/Map.vue";

export default {
  name: "ControlsPage",
  components: {
    Nav,
    Menu,
    GetInfo,
    Camera,
    LEDs,
    Controls,
    Map,
  },
  setup() {
    //const socket = io("ws://192.168.1.236:4000");
    const socket = io("ws://localhost:4000");

    const connectPlatform = () => {
      try {
        socket.emit("connectPlatform");
        if (socket.id != null) {
          document.getElementById("connect").className = "btn btn-success";
          document.getElementById("connect").textContent = "Connected!";
          console.log("connected" + socket.id);
        } else {
          console.log("Connection failed");
        }
      } catch {
        console.log("Error");
      }
    };

    return {
      connectPlatform,
    };
  },
};
</script>
