<template>
  <p></p>
  <img
    id="pic"
    src=""
    class="img-fluid"
    width="600"
    height="400"
    style="display: none"
  />
  <p></p>
  <div class="row center px-3">
    <button
      type="button"
      class="btn btn-primary"
      @click="takePicture()"
      id="picturebtn"
    >
      Take picture
    </button>
    <p></p>
    <button
      type="button"
      class="btn btn-primary"
      @click="sendVideoStream()"
      id="picturebtn"
    >
      Send Video Stream
    </button>
    <p></p>
    <button
      type="button"
      class="btn btn-primary"
      @click="provaApiLocal()"
      id="picturebtn"
    >
      Prova Api Local
    </button>
    <p></p>
  </div>
</template>

<script>
import { io } from "socket.io-client";
import { onMounted, ref } from "vue";

export default {
  name: "camera",
  setup() {
    const socket = io("ws://localhost:4000");
    const picture = ref("");

    const takePicture = () => {
      socket.emit("takePicture");
    };

    const sendVideoStream = () => {
      socket.emit("startVideoStream");
    };

    const provaApiLocal = () => {
      socket.emit("provaApiLocal");
    };
    onMounted(() => {
      socket.on("picture", (pic) => {
        // picture.value = pic.slice(2, -1);
        picture.value = pic;
        document
          .getElementById("pic")
          .setAttribute("src", "data:image/jpg;base64," + picture.value);
        document.getElementById("pic").style.display = "block";
      });
    });

    return { takePicture, sendVideoStream, provaApiLocal, picture };
  },
};
</script>
