<template>
  <div class="row center px-3">
    <button type="button" class="btn btn-primary" @click="armDrone()" id="arm">
      Arm drone
    </button>
  </div>
  <p></p>
  <div class="input-group mb-3">
    <button
      class="btn btn-outline-secondary"
      type="button"
      id="button-addon1"
      @click="takeOff()"
    >
      Take off
    </button>
    <input
      type="text"
      class="form-control"
      placeholder="altitude [m]"
      id="altitude"
    />
  </div>
  <p></p>
  <div class="input-group mb-3">
    <button
      class="btn btn-outline-secondary"
      type="button"
      id="button-addon2"
      @click="goTo()"
    >
      Go to
    </button>
    <input type="text" class="form-control" placeholder="latitude" id="lat" />
    <input type="text" class="form-control" placeholder="longitude" id="lon" />
  </div>
  <p></p>
  <div class="row center px-3">
    <button type="button" class="btn btn-warning" @click="returnToLaunch()">
      Return to launch
    </button>
  </div>
</template>

<script>
import { io } from "socket.io-client";

export default {
  setup() {
    const socket = io("ws://localhost:4000");
    var armed = false;

    const armDrone = () => {
      if (armed == false) {
        socket.emit("armDrone");
        armed = true;
        document.getElementById("arm").textContent = "Disarm drone";
      } else {
        socket.emit("disarmDrone");
        armed = false;
        document.getElementById("arm").textContent = "Arm drone";
      }
    };
    const takeOff = () => {
      const alt = document.getElementById("altitude").value;
      socket.emit("takeOff", alt);
      console.log("take off to " + alt + "meters");
    };
    const goTo = () => {
      const latlon =
        document.getElementById("lat").value +
        "*" +
        document.getElementById("lon").value;
      socket.emit("goTo", latlon);
      console.log("go to position: " + latlon);
    };
    const returnToLaunch = () => {
      socket.emit("returnToLaunch");
    };

    return {
      armDrone,
      takeOff,
      goTo,
      returnToLaunch,
    };
  },
};
</script>
