<template>
  <p></p>
  <div class="row">
    <i class="bi bi-speedometer" style="font-size: 28px; text-align: center">{{
      groundSpeed
    }}</i>
  </div>
  <div class="row">
    <i class="bi bi-alt fa-lg" style="font-size: 28px; text-align: center">{{
      altitude
    }}</i>
  </div>
  <div class="row">
    <i class="bi bi-compass" style="font-size: 28px; text-align: center">{{
      heading
    }}</i>
  </div>
  <div class="row">
    <i class="bi bi-pin-map" style="font-size: 28px; text-align: center">{{
      position
    }}</i>
  </div>
  <p></p>
  <div class="row center px-3">
    <button
      type="button"
      class="btn btn-primary"
      @click="getTelemetry()"
      id="telemetry"
    >
      Get telemetry
    </button>
  </div>
  <p></p>
</template>

<script>
import { onMounted, ref } from "vue";
import { io } from "socket.io-client";
import utf8 from "utf8";

export default {
  name: "GetInfo",
  setup() {
    const socket = io("ws://localhost:4000");

    const groundSpeed = ref("0");
    const altitude = ref("0");
    const heading = ref("0");
    const position = ref("0");

    const getTelemetry = () => {
      socket.emit("getTelemetry");
    };

    onMounted(() => {
      socket.on("dronegroundSpeed", (gs) => {
        groundSpeed.value = gs;
        console.log(groundSpeed);
      });
      socket.on("droneAltitude", (alt) => {
        altitude.value = alt;
        console.log(altitude);
      });
      socket.on("droneHeading", (head) => {
        heading.value = head;
        console.log(heading);
      });
      socket.on("dronePosition", (pos) => {
        position.value = pos;
      });
    });
    return { groundSpeed, altitude, heading, position, getTelemetry };
  },
};
</script>
