<template>
  <p></p>
  <div class="row">
    <div class="col">
      <div class="form-check">
        <input
          ref="ledstart"
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="ledstart"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          LED sequence START/STOP
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="ledstartseconds"
          checked
        />
        <label class="form-check-label" for="flexRadioDefault2">
          LED sequence for
          <input
            ref="seconds"
            type="text"
            class="form-control"
            placeholder="seconds"
            id="seconds"
          />
        </label>
      </div>
    </div>
    <div class="col">
      <button
        type="button"
        class="btn btn-primary"
        @click="startStopLEDs()"
        id="startLEDs"
      >
        <i ref="play" id="play" class="bi bi-play-fill"></i>
      </button>
    </div>
  </div>
</template>

<script>
import { io } from "socket.io-client";

export default {
  name: "LEDs control",
  data() {
    const socket = io("ws://localhost:4000");
    var LEDs = false;
    return { socket, LEDs };
  },
  methods: {
    startStopLEDs() {
      console.log("clicked");
      if (this.LEDs == false) {
        this.LEDs = true;
        document.getElementById("play").className = "bi bi-stop";
        if (document.getElementById("ledstart").checked == true) {
          this.socket.emit("startLEDs");
        } else {
          const seconds = document.getElementById("seconds").value;
          this.socket.emit("startLEDsN", seconds);
        }
      } else {
        this.LEDs = false;
        document.getElementById("play").className = "bi bi-play-fill";
        this.socket.emit("stopLEDs");
      }
    },
  },
};
</script>
