<template>
  <div id="map" class="map"></div>
  <p></p>
  <div class="row-center">
    Distance from last waypoint: {{ distance }} meters
  </div>
  <p>Total distance: {{ tdistance }} meters</p>
  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-primary"
        @click="startPlan()"
        id="sendPlan"
      >
        Execute flight plan
      </button>
    </div>
    <div class="col">
      <table id="waypointstbl" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Take Picture</th>
            <th scope="col">Save on board</th>
          </tr>
        </thead>
        <tbody id="body"></tbody>
      </table>
    </div>
  </div>
  <!-- col-md-9 ms-sm-auto col-lg-10 px-md-4 map -->
</template>

<script>
import { onMounted } from "@vue/runtime-core";
import leaflet from "leaflet";
import { ref } from "vue";
import { io } from "socket.io-client";

import droneIconpng from "../assets/drone.png";

export default {
  name: "Map",
  data() {
    const socket = io("ws://localhost:4000");
    let waypoints = [];

    return { socket, waypoints };
  },
  methods: {
    startPlan() {
      const tbl = document.getElementById("waypointstbl");
      for (let row of tbl.rows) {
        if (row.rowIndex.toString() != 0) {
          console.log(row.rowIndex.toString());
          var checked = document.getElementById(
            "Check" + row.rowIndex.toString()
          ).checked;
          var checked2 = document.getElementById(
            "Check2" + row.rowIndex.toString()
          ).checked;

          var wp = {
            lat: row.cells[1].innerHTML,
            lon: row.cells[2].innerHTML,
            takePic: checked,
            saveOnBoard: checked2,
          };
          this.waypoints.push(wp);
        }
      }
      var send = JSON.stringify(this.waypoints);
      this.socket.emit("executeFlightPlan", send);
      console.log("start plan: --> ", send);
    },
  },
  setup() {
    let mymap;
    var myIcon = leaflet.icon({
      iconUrl: droneIconpng,
      iconSize: [38, 45],
      popupAnchor: [-3, -76],
      shadowSize: [68, 95],
      shadowAnchor: [22, 94],
    });

    var marker = leaflet.marker([0, 0], { icon: myIcon });

    var clicks = 0;
    const points = [];
    const distance = ref(0);
    const tdistance = ref(0);

    const socket = io("http://localhost:4000");

    onMounted(() => {
      mymap = leaflet.map("map").setView([41.276486, 1.98842], 19);
      leaflet
        .tileLayer(
          "https://api.mapbox.com/styles/v1/mapbox/satellite-v9/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiamNhcmRlbmFzbWFycXVleiIsImEiOiJjbDF4eXFiNDAwN3A1M2RucnVzcGZ1bDdiIn0.cmkYTYB7Keklu4VWyEUrfA",
          //"https://api.mapbox.com/v4/mapbox.mapbox-streets-v8/1/0/0.mvt?access_token=pk.eyJ1IjoiamNhcmRlbmFzbWFycXVleiIsImEiOiJjbDF4eXFiNDAwN3A1M2RucnVzcGZ1bDdiIn0.cmkYTYB7Keklu4VWyEUrfA",
          {
            attribution:
              'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 23,
            id: "mapbox/satellite-v9",
            tileSize: 512,
            zoomOffset: -1,
            accessToken:
              "pk.eyJ1IjoiamNhcmRlbmFzbWFycXVleiIsImEiOiJjbDF4eXFiNDAwN3A1M2RucnVzcGZ1bDdiIn0.cmkYTYB7Keklu4VWyEUrfA",
            useCache: true,
            crossOrigin: true,
          }
        )
        .addTo(mymap);

      console.log("Starting connection to websocket server");

      socket.on("connect", () => {
        console.log(socket.id);
      });

      socket.on("dronePosition", (pos) => {
        const latlong = pos.split("*");
        console.log(latlong);
        var newLatLng = new leaflet.LatLng(latlong[0], latlong[1]);
        marker.setLatLng(newLatLng);
        marker.addTo(mymap);
        // marker.bindPopup("<b>Drone 1</b>").openPopup();
      });

      mymap.on("click", function (event) {
        clicks = clicks + 1;
        var marker = leaflet.marker(event.latlng);
        console.log(marker);
        marker.addTo(mymap);

        var temp = document.getElementById("body");
        var temp2 = document.createElement("tr");
        var temp3 =
          "<td>" +
          clicks +
          "</td><td>" +
          event.latlng.lat.toString() +
          "</td><td>" +
          event.latlng.lng.toString() +
          "</td><td>" +
          "<input type='checkbox' class='custom-control-input' id='Check" +
          clicks +
          "'>" +
          "</td><td>" +
          "<input type='checkbox' class='custom-control-input' id='Check2" +
          clicks +
          "'>";
        temp2.innerHTML = temp3;
        temp.appendChild(temp2);

        points.push(event.latlng);
        leaflet.polyline(points, { color: "red", weight: 2 }).addTo(mymap);
        if (points.length > 0) {
          const total =
            parseFloat(tdistance.value) +
            parseFloat(event.latlng.distanceTo(points[points.length - 2]));
          tdistance.value = total.toFixed(2);
        }
      });

      mymap.on("mousemove", function (event) {
        if (points.length > 0) {
          distance.value = event.latlng
            .distanceTo(points[points.length - 1])
            .toFixed(2);
        }
      });
    });

    return { distance, tdistance };
  },
};
</script>
