<template>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"
      >DRONE CONTROL STATION</a
    >
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <img src="../assets/upclogo.png" width="45" height="45" />
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Nav",
};
</script>
