<template>
  <h1 style="text-align: center">GALLERY OF IMAGES</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" v-for="picture in pictures" v-bind:key="picture">
      <div class="card">
        <img
          v-bind:src="'data:image/jpg;base64,' + picture.img.slice(2, -1)"
          class="card-img-top"
          alt="dronepic"
          height="300"
        />
        <!-- el slice lo hago para eliminar el b' y ' de la secuencia -->
        <div class="card-body">
          <h5 class="card-title">{{ picture.coord }}</h5>
          <p class="card-text">
            {{ picture.time.$date }}
          </p>
        </div>
        <button
          v-bind:id="picture._id.$oid"
          type="button"
          class="btn btn-danger btn-block"
          @click="deletePic(picture._id.$oid)"
        >
          Delete
        </button>
      </div>
      <p></p>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Pictures",
  data() {
    return {
      pictures: [],
      show_picture: false,
    };
  },
  methods: {
    fetchPictures() {
      axios
        .get("http://localhost:5000/api/pics")
        .then((res) => {
          var response = res.data;
          this.pictures = response.message.reverse();
          console.log(this.pictures);
        })
        .catch((e) => {
          console.log(e);
        });
    },

    deletePic(id) {
      axios
        .delete("http://localhost:5000/api/pics/" + id)
        .then((res) => {
          var response = res.data;
          this.pictures = response.message.reverse();
          console.log(this.pictures);
        })
        .catch((e) => {
          console.log(e);
        });

      this.fetchPictures();
    },
  },
  mounted() {
    this.fetchPictures();
  },
};
</script>
